.confirmation-message {
    color: white;
    background-color: #757575;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");

    text-align: center;
    
    
}

.confirmation-page {
    
}