

.abilities-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.black {
    background-color: black;
}

.card {
    width: 50em;
    max-width:90%;
    margin: 0 auto;
    border: solid 15px white;
    border-radius: 25px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);

}

.cardBottom {
    justify-content: space-between;
    
}

.column {
    display: flex;
    flex-direction: column;
}

.description {
    max-width: 50%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;

}

.marvel {
    background-color: #e00034;
    color: white;
}

.dc {
    background-color: #0376f2;
    color: white;
}

.company-logo {
    
    max-height: 200px;
    max-width: 200px;
}



.charImage {
    width: 400px;
    height: 400px;
}


.cardTop {
    /* display: flex;  */
    /* justify-content: flex-start; */
}

.cardTop2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cardTop img {
    padding: 1em;
}

.cardTop h1 {
    text-align: center;
}

.cardTop div {
    width: 100%;
}

.cardTop p {
    margin-top: 0;
    margin-bottom: 0;
}

.cardMid {
    display: flex;
    
}

.text-align-left {
    text-align:left;
}

.description {
padding: 1em;
}

.indy {
    background-color: grey;
    color:white;
}

.logoBar {
    display:flex;
    align-items: center;
    justify-content:center;
    width: 50%;
   
}


.team-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sorry-message {
    color: white;
    background-color: black;
    width: 50%;
    margin: 1em auto;
    
}




