.black {
    background-color: black;
}

.card {
    
    border: solid 15px white;
    border-radius: 25px;
    margin-top: 1em;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);

}

.marvel {
    background-color: #e00034;
    color: white;
}

.dc {
    background-color: #0376f2;
    color: white;
}

.company-logo {
    max-height: 200px;
    max-width: 200px;
}

.charImage {
    width: 400px;
    height: 400px;
    margin-top: 1em;
}

.cardTop img {
    /* padding: 1em; */
}

.cardTop h1 {
    text-align: center;
}

.cardTop p {
    margin-top: 0;
    margin-bottom: 0;
}

.description {
padding: 1em;
}

.indy {
    background-color: grey;
    color:white;
}

.sorry-message {
    color: white;
    background-color: black;
    width: 75%;
    margin: 1em auto;
    
}




