.confirmation-message {
    color: black;
    text-align: center;
    
    
}

.confirmation-page {
    background-color: #757575;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    height: 1000px;
    width: 1000px;
}