.addchar {
    color: white;
    background-color: #757575;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

.addchar h1 {
    text-align: center;
}

.addchar p {
    margin-bottom: 0;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.form-container {
    display: flex;
    max-width: 75%;
    flex-wrap: wrap;
    margin: 0 auto 1em auto;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-self: center;
}

.submit-container {
    display: flex;
    height: 114px;
    justify-content: center;
    align-items: center;
    
}

.form-container input[type=submit] {
    width: 175px;
    height: 3em;
    margin-bottom: 0;
}


@media(max-width: 1024px) {
    .form-container {
        justify-content: space-around;
    }
    
    .form-item {
        width: 33%
    }

    .submit-container {
        width: 100%;
        height: 5em;
    }

    .form-container input[type=submit] {
        width: 75%;
        height: 90%;
    }
}

@media(max-width: 768px) {
    .form-container {
        justify-content: space-around;
        max-width:95%;
    }
    
    .form-item {
        width: 33%
    }

    .submit-container {
        width: 100%;
        height: 5em;
    }

    .form-container input[type=submit] {
        width: 75%;
        height: 90%;
    }
}

@media(max-width: 400px){
    .charImage {
        width: 100%;
        height: 400px;
        margin-top: 1em;
    }

}

@media(max-width: 414px){
    .form-item {
        width: 100%;
    }
    .custom-card {
        display:none;
    }

    .form-container input[type=submit] {
        margin-bottom: 1em;
    }

}





.addchar .label {
    margin: 1em;
}

.custom-card {
    border: solid 15px white;
    border-radius: 25px;
    margin: 0 auto;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    
    max-width: 75%;
}

