.addchar {
    color: white;
    background-color: #757575;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

.addchar h1 {
    text-align: center;
}

.addchar-container {
    overflow-x: hidden;
}

.addchar .label {
    margin: 1em;
}