.addchar {
    color: white;
    background-color: #757575;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    padding-bottom: 2em;
}

.custom-card .charImage {
    margin-top: 1em;
}

.abilities, .teams {
    text-align:center;
}

.custom-card ul {
    margin-top: 0;
}

.addchar p {
    margin-bottom: 0;
}

.cardTop2 p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.custom-card b {
    margin: 1em auto;
}

.card-container {
    width: 50%;
}

.addchar h1 {
    text-align: center;
}



.green {
    background-color: green;
}

.red {
    background-color: red;
}

.form-container {
    display: flex;
    max-width: 75%;
    flex-wrap: wrap;
    margin: 0 auto 1em auto;
}

.flex {
    display: flex;
}

.cardTop2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display:flex;
    flex-direction: row;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-self: center;
}

.submit-container {
    display: flex;
    height: 114px;
    justify-content: center;
    align-items: center;
    
}

.form-container input[type=submit] {
    width: 175px;
    height: 3em;
    margin-bottom: 0;
}

.addchar select {
    width: 183px;
}


@media(max-width: 1024px) {
    .form-container {
        justify-content: space-around;
    }
    
    .form-item {
        width: 33%
    }

    .submit-container {
        width: 100%;
        height: 5em;
    }

    .form-container input[type=submit] {
        width: 75%;
        height: 90%;
    }
}

@media(max-width: 768px) {
    .form-container {
        justify-content: space-around;
        max-width:95%;
    }
    
    .form-item {
        width: 33%
    }

    .submit-container {
        width: 100%;
        height: 5em;
    }

    .form-container input[type=submit] {
        width: 75%;
        height: 90%;
    }
}

@media(max-width: 400px){
    .charImage {
        width: 100%;
        height: 400px;
        margin-top: 1em;
    }

}

@media(max-width: 1023px) {
    .custom-card {
        display:none;
    }
}

.abilities-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    justify-content: center;
}


.text-center {
    text-align: center;
}

.card-top {
    justify-content: space-around;
}

@media(max-width: 414px){
    .form-item {
        width: 100%;
    }
    .custom-card {
        display:none;
    }

    .form-container input[type=submit] {
        margin-bottom: 1em;
    }

}

.logo-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}




.addchar .label {
    margin: 1em;
}

.custom-card {
    border: solid 15px white;
    border-radius: 25px;
    padding-bottom: 1em;
    margin: 0 auto;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.75);
    width: 990px;
}

.custom-card h1 {
    text-align: center;
}

