.App {
  text-align: center;
}

.arrowContainer {
  margin-left: 80px;

}

.arrowContainer .fa {
  color: seashell;
}

.arrowContainer .fa:hover {
  color: black;
}

.link-bar {
  margin-top: 0px;
}

.portfolioBar {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: orange;
  align-items: center;
}