.searchbar {
    background-color: white;
    padding: 1em;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
}

input, select {
    margin-left: 1em;
}

input [type = submit] {
    background: grey;
}